n8n-workflow.json
{
  "name": "AI Podcast Generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "{{$json.body.text}}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional podcast script writer. \n\nWrite a conversational and engaging podcast script on the given topic: {{$json.body.text}}.\nKeep it around 2 minutes when spoken.  Use a friendly and informative tone, as if talking directly to listeners.  Avoid any headings, labels, or formatting. Output should be plain text only."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        432,
        -112
      ],
      "id": "1f684f25-1fd8-4e88-b084-6dc922fddc3f",
      "name": "Podcast Script Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        80
      ],
      "id": "1ae3e454-3f8a-43c1-9023-0dd0b92f2805",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JNeJw3fDkfkaMeEg",
          "name": "Google Gemini(PaLM) Api account 7441"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.murf.ai/v1/speech/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "ap2_485ee3de-d1a2-4c18-970b-1d48d9dacc2c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voiceId",
              "value": "Terrell"
            },
            {
              "name": "locale",
              "value": "en-US"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        -112
      ],
      "id": "0bd3feaf-8017-4838-a4dc-d8cfb127ae31",
      "name": "Murf API"
    },
    {
      "parameters": {
        "url": "={{ $json.audioFile }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        -112
      ],
      "id": "cf6eb239-b482-4fa4-a398-31b44fcdf6fd",
      "name": "Podcast Downloader"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cb2c9fa0-33ff-4402-b877-48abc7ac515e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        -112
      ],
      "id": "d956a211-a1dc-4b7d-bdf5-093336690243",
      "name": "Webhook",
      "webhookId": "cb2c9fa0-33ff-4402-b877-48abc7ac515e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1200,
        -112
      ],
      "id": "1e51fa63-bf03-44d0-89db-f440d15d660a",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Podcast Script Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Script Generator": {
      "main": [
        [
          {
            "node": "Murf API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Murf API": {
      "main": [
        [
          {
            "node": "Podcast Downloader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Podcast Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Downloader": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59c4f948-7d98-4fa6-aad3-b83397ed1311",
  "meta": {
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "CqrpkeRNILUcpnVx",
  "tags": []
}